@use "../../styles/variables.scss" as *;

ul.section-ul {
  list-style: none;
  margin-top: 2em;
  padding-left: 0;
}

li.section-li {
  margin-bottom: 1.5em;
  padding-bottom: 1em;
  border-bottom: 1px solid var(--color-border-soft);

  &:last-child {
    border-bottom: none;
  }

  & > .section {
    display: grid;
    grid-template-columns: fit-content(8em) 1fr;

    @media all and ($mobile) {
      & > .tags {
        display: none;
      }
    }

    & > .desc > h3 {
      margin: 0;
      line-height: 1.4;
      
      & > a {
        background-color: transparent;
        color: var(--color-accent);
        text-decoration: none;
        font-weight: 500;
        transition: color 0.2s ease;
        
        &:hover {
          color: var(--tertiary);
          text-decoration: underline;
          text-decoration-color: var(--color-accent-soft);
          text-underline-offset: 0.2em;
        }
      }
    }

    & .meta {
      margin: 0 1em 0 0;
      opacity: 0.7;
      font-size: var(--size-body-small);
      color: var(--color-muted);
    }
  }
}

// modifications in popover context
.popover .section {
  grid-template-columns: fit-content(8em) 1fr !important;

  & > .tags {
    display: none;
  }
}
