.recent-notes {
  margin-bottom: 0;

  & > ul.recent-ul {
    list-style: none;
    margin: 0;
    padding: 0;

    & > li {
      margin: 0.35rem 0;
      
      .section {
        & > .desc {
          & > h3 {
            margin: 0;
            
            & > a {
        background-color: transparent;
              padding: 0;
              text-decoration: none;
              
            }
          }
        }

        & > .meta {
          margin: 0.05rem 0 0 0;
          font-size: 0.75rem;
        opacity: 0.6;
          color: var(--gray);
          font-weight: 400;
          line-height: 1.3;
        }
      }
    }
  }
  
  & > p {
    margin: 0.75rem 0 0 0;
    font-size: 0.8rem;
    
    & > a {
      color: var(--secondary);
      text-decoration: none;
      
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
