@use "../../styles/variables.scss" as *;

.why-field-wrapper {
  margin-top: var(--space-lg);
  margin-bottom: 0;
  
  .why-text {
    font-size: var(--size-body-small);
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-text);
    font-family: var(--font-body);
    margin: 0;
    font-style: italic;
    
    .why-value {
      font-style: normal;
      color: var(--color-accent);
      font-weight: 500;
    }
  }
}

